#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.items {
  width: 250vh !important;
  height: auto;
}

.allitems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.each-item {
  width: 414px;
}

.dynamic-data{
  width: 250vh !important;
  height: auto;
}
.message-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.message-content {
  width: 414px;
 border: 1px solid;
}
.message-subject {
  padding: 0 100px;
}
.api-message-details{
  border: 2px solid red;
  width: 145px;
}
.popup-message-details{
  display: none;
}
.msg_active{
  display: block;

}
.modelbox_main{
    width: 30%;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #ff8fab;
    background-color: #f1faee;
}